<div>
  <%=link_to "Process Data", update_activities_url, {method: :put, remote: true} %>

  <table id="dataTable" class="table table-striped table-condensed table-hover table-bordered sortable">
    <thead>
      <tr>
        <th>ID</th>
        <th>When</th>
        <th>Distance</th>
        <th>Average Speed</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <%@activities.each do |activity|%>
        <tr>
          <td><%=activity.id%></td>
          <td><%=activity.start_date%></td>
          <td><%=activity.distance%></td>
          <td><%=activity.average_speed_converted%></td>
          <td><%=activity.name%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>


