<div>
  <%=link_to "Process Data", update_activities_url, {method: :put, remote: true} %>

  <table id="dataTable" class="table table-striped table-condensed table-hover table-bordered sortable">
    <thead>
      <tr>
        <th>ID</th>
        <th>When</th>
        <th>Distance</th>
        <th>Average Speed</th>
        <th>Elevation</th>
        <th>Name</th>
        <th>Kudos Count</th>
        <th>Athlete Count</th>
      </tr>
    </thead>
    <tbody>
      <%@activities.each do |activity|%>
        <tr>
          <td>
            <a href="<%=StravaCollector.config.strava[:activities_url] + activity.id.to_s%>">
              <%=activity.id.to_s%>
            </a>
          </td>
          <td><%=activity.start_date%></td>
          <td><%=activity.distance%></td>
          <td><%=activity.average_speed_converted%></td>
          <td><%=activity.total_elevation_gain%></td>
          <td><%=activity.name%></td>
          <td><%=activity.kudos_count%></td>
          <td><%=activity.athlete_count%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>


