<!DOCTYPE html>
<html>
<head>
  <title>StravaCollector</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    '//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css' %>
  <%= javascript_include_tag '//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js' %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
